* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #181818;
}

.wrapper {
    width: 80%;
    margin: 2rem auto;
}

#score-table {
    width: 100%
}

@media screen and (min-width: 930px) {
    #score-table {
        width: 80%
    }
  }

  @media screen and (min-width: 1200px) {
    #score-table {
        width: 70%
    }
  }

.hidden {
    display: none;
}

#score-wrapper {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.score {
    font-weight: 700;
}

.header {
    color: #888888;
    font-weight: 700;
}

#h-team {
    width: 45%;
    text-align: left;
}

#h-score {
    width: 27.5%
}

#h-today {
    width: 27.5%
}

.center {
    text-align: center;
}

.t1 {
    color: #42FF2D;
}

.t2 {
    color: #49DB3E
}

.t3 {
    color: #50B64F;
}

.t4 {
    color: #579260;
}

.t5 {
    color: #5D6D70;
}

.t6 {
    color: #644981;
}

.t7 {
    color: #6B2492;
}

.t8 {
    color: #7200A3;
}